---
import { ImageCaption, Infobox, Label } from "@components/kw-Infobox.astro";
import KnownPfp from "@assets/KnownPFP.jpg";
import Imagebox from "@components/imagebox.astro";
import OldestScreenshot from "@assets/OldestScreenshot.png"
import ColorLabel from "@components/infoboxes/ColorLabel.astro";
---
<Infobox title="KnownSH">
  <ImageCaption image={KnownPfp} alt="Known's profile picture on Discord <br/> (August 2024)" width={150} />
  <Label title="Born" alt="2005 (age 19) <br/>Canada"/>
  <Label title="Other names" alt=`Knownser<br/>Known<br/>KnownShhs`/> 
  <slot />
  <Label title="Colours">
    <ColorLabel color="#6E6173" text="self"/><ColorLabel color="#443A47" text="self"/><br>
    <ColorLabel color="#2F2F2F" text="self"/><ColorLabel color="#C9C9C9" text="self" flip={true}/><br>
    <ColorLabel color="#B47FC9" text="self" flip={true}/><ColorLabel color="#C9ACD4" text="self" flip={true}/>
  </Label>
</Infobox>

<Imagebox image={OldestScreenshot} description="Oldest saved Roblox screenshot by <br/> Known (Date in photo)" width={250} />