---
import Base from "../layouts/base.astro"
import Header from "../layouts/header.astro"
import Sidebar from "../components/Sidebar.astro"
import '../styles/markdown.scss'
const { title, article, description, slug, theme } = Astro.props;
---
<Base title={`${title} on KnownWiki`} theme={theme}>
  <Fragment name="head">
    <meta content="KnownWiki" property="og:site_name" />
    <meta content={`${title}`} property="og:title" />
    {description && <meta content={description} property="og:description"/>}
    <!--meta content={album.data.cover.src} property="og:image" /-->
    <!--meta property="og:image:width" content={`${album.data.cover.width}`} /-->
    <!--meta property="og:image:height" content={`${album.data.cover.height}`} /-->
    <meta content={`/${slug}`} property="og:url" />
    <meta content="#8747C2" data-react-helmet="true" name="theme-color" />
  </Fragment>
	<Header />
	<div class="page-container">
		<Sidebar />
		<div class="markdown md:ml-64 p-5 pl-10 text-text transition-transform ">
			<article>
        <slot />
      </article>
		</div>
	</div>
</Base>
<script>
  import 'photoswipe/style.css'
  import pswpModule from 'photoswipe'
  import PhotoSwipeLightbox from 'photoswipe/lightbox'

  const lightbox = new PhotoSwipeLightbox({
    pswpModule,
    children: 'a',
    gallery: '#image-view',
  })

  document.addEventListener(
    'astro:page-load',
    () => { if (lightbox) lightbox.init() },
    { once: false },
  )
</script>
